body {
    margin: 0%;
    background-color: #3a405a;
}

.mainContent {
    font-family: arial;
    text-align: center;
    color: white;
    margin: 2%;
}

h {
    font-size: 45px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    background-color: #272635;
    width:250px;
    height: 35px;
    padding: 3%;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  margin-top: 3%;
  margin-left: 11%;
  float: left;
  width: 30%;
  padding: 2px;
}
.column2 {
  margin-top: 3%;
  margin-right: 11%;
  float: right;
  width: 30%;
  padding: 2px;
}

 /*Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#cited {
    text-align: left;
    margin-left: 5%;
}

#cited2 {
    text-align: left;
    margin-left: 9%;
}

#one {
    position: absolute;
    top: 20%;
    left: 22% ;
}

#two {
    position: absolute;
    top: 45%;
    left: 22% ;
}

#three {
    position: absolute;
    top: 20%;
    left: 52% ;
}

#four {
    position: absolute;
    top: 45%;
    left: 52% ;
}

#five {
    position: absolute;
    top: 70%;
    left: 22% ;
}

#six {
    position: absolute;
    top: 70%;
    left: 52% ;
}

#back {
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 1%;
     width:200px;
    height: 30px;
}